* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}






/* utlities =================================================*/
.text-right {
	text-align: right;
}

.j-flex-end {
	display: flex;
	justify-content: flex-end;
}

.testing {
	height: 500px;
	background-color: gray;
}

.space {
	height: 100px;
	background-image: linear-gradient(180deg, black, transparent);
}



/*====================================================*/





/* navbar */
nav .container-fluid{
	padding: 0;
}

nav .active {
	font-weight: bold;
}
/*===================================================*/













/* BERANDA */
#beranda #banner {
	height: 100vh;
	width: 100%;
	background-image: url('http://localhost/rendang/assets/image/rendang.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#beranda #banner > div {
	padding: 0;
}

#beranda #banner h1 {
	line-height: 100vh;
	animation-name: banner;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes banner{
	0% {
		background-color: rgba(0,0,0,0);
		color: transparent;
	}
	50%{
		background-color: rgba(0,0,0,0.8);;
		color: white;
	}
	100% {
		background-color: rgba(0,0,0,0);
		color: transparent;
	}

}

/*====================================================*/










/* CATALOG */

#catalog #content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 9;
}

#catalog #content .item {
	width: 32%;
	margin-bottom: 20px;
}

#catalog #content .item .gambar-produk {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}


#catalog #content .item p,
#catalog #content .item h5 {
	margin: 0;
	padding: 0;
}
/*====================================================*/









/* Detail */

#detail-menu #content .cursor-pointer {
	cursor: pointer;
}

#detail-menu #content .order div {
	display: inline-block;
}

#detail-menu #deskripsi {
	padding: 20px 0;
}

#detail-menu #produk-lainnya > div{
	display: flex;
	justify-content: space-between;
}

#detail-menu #produk-lainnya .item {
	width: 22%;
	margin-bottom: 20px;
}

#detail-menu #produk-lainnya .item .gambar-produk {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}


/*====================================================*/





/* PATH */
#path a {
	color: #776f6f;
	font-size: 0.9rem;
}
/*===================================================*/










/* CART */
#cart i:hover {
	cursor: pointer;
}

#cart .order div {
	display: inline-block;
}

#cart .menu-pesan button {
	height: 100%;
}

#cart .menu-pesan #hargaBayar {

}
/*===================================================*/









/* CHECKOUT */

#checkout > .row > .col {
	height: 100vh;
}


#checkout #formData pre {
	margin-bottom: 0;
}

#checkout #accordionExample .logo-pengiriman {
	width: 100px;
}

#checkout #accordionExample .logo-pengiriman,
#checkout #pembayaran img {
	width: 100px;
}
#checkout #accordionExample strong {
	font-style: italic;
}

#checkout #accordionExample label,
#checkout #pembayaran label {
	margin-left: 10px;
}

#checkout .tarif p,
#checkout #pembayaran p {
	margin: 0;
}
/*===================================================*/









/*FOOTER*/
footer {
	/*background-image: linear-gradient(red, grey);*/
}

footer .j-between {
	display: flex;
	justify-content: space-between;
}