* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 87.5%;
}

a {
	text-decoration: none;
}






/* utlities =================================================*/
.text-right {
	text-align: right;
}

.j-flex-end {
	display: flex;
	justify-content: flex-end;
}


.testing {
	height: 50rem;
	background-color: gray;
}

.space {
	height: 10rem;
	background-image: linear-gradient(180deg, black, transparent);
}



/*====================================================*/





/* navbar */
nav .container-fluid{
	padding: 0;
}

nav .nav-item:not(:last-child) {
	margin-right: 1.5rem;
}

nav .active {
	background-color: white;
	border-radius: 5px;
}

.navbar .active > a.nav-link,
.navbar .active > a.nav-link:hover {
	color: rgb(33, 37, 41);
}
/*===================================================*/













/* BERANDA */
#beranda #banner {
	height: 100vh;
	width: 100%;
	background-image: url('http://localhost/rendang/assets/image/rendang.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#beranda #banner > div {
	padding: 0;
}

#beranda #banner h1 {
	line-height: 100vh;
	animation-name: banner;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes banner{
	0% {
		background-color: rgba(0,0,0,0);
		color: transparent;
	}
	50%{
		background-color: rgba(0,0,0,0.8);;
		color: white;
	}
	100% {
		background-color: rgba(0,0,0,0);
		color: transparent;
	}

}

/*====================================================*/










/* CATALOG */

#catalog #content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 9;
}

#catalog #content .item {
	width: 47.5%;
	margin-bottom: 5%;
	color: rgb(33, 37, 41);
	font-size: 1.5rem;
}

#catalog #content .item:hover {
	transform: translateY(-1rem);

	box-shadow: 0 .5rem 2rem rgba(233, 231, 231, 0.8);
}

#catalog #content .item:active {
	transform: translateY(-.5rem);
}

#catalog #content .item:not(:nth-child(even)) {
	margin-right: 5%;
}

#catalog #content .item .gambar-produk {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

#catalog #content .item a {
	text-decoration: none;
}



/*====================================================*/









/* Detail */

#detail-menu #content .cursor-pointer {
	cursor: pointer;
}

#detail-menu #content .order div {
	display: inline-block;
}

#detail-menu #deskripsi {
	padding: 2.2rem 0;
	font-size: 1.7rem;
}

#detail-menu #deskripsi pre {
	white-space: pre-wrap;
	line-height: 1;
}

#detail-menu #produk-lainnya > div{
	display: flex;
	justify-content: space-between;
	color: rgb(33, 37, 41);
}

#detail-menu #produk-lainnya .item {
	width: 22%;
	margin-bottom: .2rem;
}

#detail-menu #produk-lainnya .item:hover {
	transform: translateY(-.5rem);
	box-shadow: 0 .5rem 2rem rgba(233, 231, 231, 0.8);
}

#detail-menu #produk-lainnya .item:active {
	transform: translateY(0);
}

#detail-menu #produk-lainnya .item .gambar-produk {
	width: 100%;
	height: auto;
	margin-bottom: .1rem;
}

#detail-menu #produk-lainnya .item p {
	margin: 0;
	margin-top: 2rem;
	font-size: 1.3rem;
}


/*====================================================*/





/* PATH */
#path a {
	color: #776f6f;
	font-size: 0.9rem;
}
/*===================================================*/










/* CART */

#cart i:hover {
	cursor: pointer;
}

#cart .order div {
	display: inline-block;
}

#cart .menu-pesan button {
	height: 100%;
}

#cart .menu-pesan #hargaBayar {

}
/*===================================================*/









/* CHECKOUT */

#checkout > .row > .col {
	height: 100vh;
}


#checkout #formData pre {
	margin-bottom: 0;
}

#checkout #accordionExample .logo-pengiriman {
	width: 10rem;
}

#checkout #accordionExample .logo-pengiriman,
#checkout #pembayaran img {
	width: 10rem;
}
#checkout #accordionExample strong {
	font-style: italic;
}

#checkout #accordionExample label,
#checkout #pembayaran label {
	margin-left: 10rem;
}

#checkout .tarif p,
#checkout #pembayaran p {
	margin: 0;
}
/*===================================================*/





/* TRANSAKSI-PAGE */
#transaksi-page table td {
	vertical-align: middle;
}




/*FOOTER*/
footer {
	/*background-image: linear-gradient(red, grey);*/
}

footer .j-between {
	display: flex;
	justify-content: space-between;
}